.App {
  display: flex;
  justify-content: center;
}


body,
.App,
.App>div,
nav,
nav>ul {
  margin: 0;
  padding: 0;
  width: 100%
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

nav>ul {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #ccc;
  list-style-type: none;
}

nav>ul>li {
  margin: 0 2rem;
}

nav>ul>li>a {
  text-decoration: none;
  color: #ccc;
}

.form {
  display: flex;
  flex-direction: column;
}

.form>label,
.form>input,
.form>label,
.form>input {
  margin: .2rem 0;
  font-size: 1.2rem;
}

li.done {
  text-decoration: line-through;
}

#todoList {
  list-style-type: none;
  padding: 0;
}

#todoList>div {
  margin: .5rem .2rem;
  cursor: pointer;
}

div#todoInput>button {
  margin-left: .2rem;
}

input,
button {
  min-height: 1.5rem;
}