.App {
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif
}

body,
.App,
.App>div,
nav,
nav>ul {
  margin: 0;
  padding: 0;
  width: 100%
}

#mainDiv,
#mainDiv>*,
main>div {
  min-width: 22rem;
}

#mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  margin: .5rem;
  padding: .5rem;
}

nav {
  margin-bottom: 1.5rem;
}

nav>ul {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #ccc;
  list-style-type: none;
}

nav>ul>li {
  margin: 0 2rem;
}

nav>ul>li>a {
  text-decoration: none;
  color: #ccc;
}

.form {
  display: flex;
  flex-direction: column;
}

.form>label,
.form>input,
.form>label,
.form>input {
  margin: .2rem 0;
  font-size: 1.2rem;
}

li.done {
  text-decoration: line-through;
}

#todoList {
  list-style-type: none;
  padding: 0;
}

#todoList>div {
  margin: .5rem .2rem;
  cursor: pointer;
}

div#todoInput>* {
  min-height: 24px;
}

div#todoInput>button {
  margin-left: 1%;
}

div#todoInput>input {
  border: 1%;
  width: 65%;
  margin: 0;
}

button#todoButton {
  margin: 0;
  width: 32%;
}

div#todo input,
button {
  min-height: 1.5rem;
}

div.listItem {
  display: flex;
  justify-content: space-between;
}

div#errors {
  margin: .5rem;
  padding: .5rem;
  border: solid 1px #dd0000;
  background-color: #ffcccc;
  border-radius: 2%;
}

li#logoutLi {
  cursor: pointer;
}

h2 {
  padding-right: 1rem;
  text-align: center;
}

img.delButton {
  height: .8rem;
}

@media (max-width: 720px) {

  #mainDiv,
  #mainDiv>*,
  main>div {
    min-width: 100%;
  }

}